<div class="registration-container">
    <%= render partial: '/shared/page_header', locals: { header: 'Sign In', subheader: 'This is the place where you can log-in to your account.'} %>
    <% if @form.errors.present? %>
        <%- @form.errors.full_messages.each do |msg| %>
            <p class="alert alert-danger"><%= msg %></p>
        <% end %>
    <% end %>

    <%= form_with url: sessions_path, local: true do |f| %>
        <%= f.hidden_field "session[token_value]", value: params[:token_value] %>
        <%= f.hidden_field "session[invitation_refused]", value: params[:invitation_refused] %>
        <div class="form-group">
            <%= f.label :email, 'E-mail' %>
            <%= f.email_field :email, name: "session[email]", value: params[:email] || @form.email, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, name: "session[password]", class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.submit 'Sign-in', class: 'btn btn-outline-primary btn-block' %>
        </div>
        <span class="form-text small text-muted">Forgot <%= link_to "password?", new_sessions_reset_password_path %></span>
    <% end %>
</div>