<div class="registration-container">
    <%= render partial: '/shared/page_header', locals: { header: 'User Profile', subheader: 'This is the place where you can manage your own profile.'} %>

    <%- usr = UserDecorator.new(@user) %>

    <div class="usr-profile-container">
        <div class="usr-group">
            <div class="usr-label">Email:</div>
            <div class="usr-value"><%= usr.email %></div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="usr-group inline-two">
                <div class="usr-label">Name:</div>
                <div class="usr-value"><%= usr.name %></div>
            </div>

            <div class="usr-group inline-two">
                <div class="usr-label">Surname:</div>
                <div class="usr-value"><%= usr.surname %></div>
            </div>
        </div>

        <div class="usr-group">
            <div class="usr-label">Birth date:</div>
            <div class="usr-value"><%= usr.birth_date %> - <%= usr.age %> y/o</div>
        </div>

        <div class="usr-group">
            <div class="usr-label">Short biography:</div>
            <div class="usr-value"><%= usr.short_bio %></div>
        </div>
    </div>

    <% if @user.id == current_user.id %>
        <%= link_to "Edit user data", edit_user_path(@user), class: "btn btn-outline-primary btn-block" %>
        <%= link_to "Change password", edit_user_password_path(@user), class: "btn btn-outline-warning btn-block" %>
        <%= link_to "Destroy account", user_path(@user), method: :delete, data: {confirm: @destroy_message}, class: "btn btn-outline-danger btn-block" %>
    <% end %>
</div>