<h1>Sign up</h1>

<% if @form.errors.present? %>
    <%- @form.errors.full_messages.each do |msg| %>
        <p class="alert alert-danger"><%= msg %></p>
    <% end %>
<% end %>

<%= form_with url: registrations_path, local: true do |f| %>
    <%= f.hidden_field "session[token]", value: params[:token] %>
    <div class="form-group">
        <%= f.label :email, 'E-mail' %>
        <%= f.email_field :email, name: "session[email]", value: params[:email], class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, name: "session[password]", class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Sign-up', class: 'btn btn-primary' %>
    </div>
<% end %>