<div class="custom-cards">
    <% collection.each do |event| %>
        <%- event_decorator = EventDecorator.new(event) %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= event_decorator.title %></h5>
                <p class="card-text"><%= event_decorator.short_desc %></p>
                <div class="">
                    <%= link_to "Details", event_path(event), class: "btn btn-info btn-sm btn-block" %>
                    <% if event.can_i_manage_event?(@event_roles[event.id] || Event::ROLES.fetch(:guest)) %>
                        <%= link_to "Edit", edit_event_path(event), class: "btn btn-primary btn-sm btn-block" %>
                        <%= link_to "Destroy", event_path(event),method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm btn-block" %>
                    <% end %>
                    <% if event.can_i_join?(@event_roles[event.id] || Event::ROLES.fetch(:guest)) %>
                        <%= link_to "Join", event_join_event_path(event), method: :post , class: "btn btn-primary btn-sm btn-block" %>
                    <% end %>
                    <% if event.can_i_quit?(@event_roles[event.id] || Event::ROLES.fetch(:guest)) %>
                        <%= link_to "Quit", event_quit_event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning btn-sm btn-block" %>
                    <% end %>
                </div>

            </div>
            <div class="card-footer text-muted">
                <p style="color: rgb(226, 226, 226); margin: 0;">Creator: <%= link_to event_decorator.owner_email, user_path(event.owner_id), style: "color: rgb(226, 226, 226); text-decoration: none;" %></p>
            </div>
        </div>
    <% end %>
</div>