<h3><%= @event.title %></h3>
<p><%= @event.description %></p>
<hr>
<div>
    <h4>Event members</h4>
    <ul>
        <% @members.each do |m| %>
            <li><%= m.email %></p>
        <% end %>
    </ul>
</div>
<br>
<%= link_to "Back", events_path, class:"btn btn-primary" %>
<%= link_to "Join", event_join_event_path(@event), class:"btn btn-info", method: :post %>