<div class="event-form-container">
    <%= render partial: '/shared/page_header', locals: { header: 'Event Details', subheader: 'This is the place where you can find out details about the event.'} %>
    <div class="event-details-container">
        <div class="event-group">
            <div class="event-label">Title:</div>
            <div class="event-value"><%= @event.title %></div>
        </div>

        <div class="event-group">
            <div class="event-label">Description:</div>
            <div class="event-value"><%= @event.description %></div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="event-group inline-two">
                <div class="event-label">Event Date:</div>
                <div class="event-value"><%= @event&.event_date %></div>
            </div>

            <div class="event-group inline-two">
                <div class="event-label">Event Time:</div>
                <div class="event-value"><%= @event&.event_time&.strftime( "%H:%M" ) %></div>
            </div>
        </div>

        <div class="event-group">
            <div class="event-label">Street:</div>
            <div class="event-value"><%= @event&.address&.street %></div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="event-group inline-three">
                <div class="event-label">City:</div>
                <div class="event-value"><%= @event&.address&.city %></div>
            </div>

            <div class="event-group inline-three">
                <div class="event-label">Province:</div>
                <div class="event-value"><%= @event&.address&.province %></div>
            </div>
            <div class="event-group inline-three">
                <div class="event-label">Zip Code:</div>
                <div class="event-value"><%= @event&.address&.zip %></div>
            </div>
        </div>

    </div>

    <div class="event-members-container">
        <h4>Event members</h4>
        <br>
        <ul class="list-group">
            <% @event.users.each do |user| %>
                <li class="list-group-item list-group-item-success"><%= link_to user.email, user_path(user) %>
            <% end %>
            <% @event.invitations.where(status: [10,30]).each do |invitation| %>
                <%- invitation = InvitationDecorator.new(invitation) %>
                <li class="list-group-item list-group-item-<%= invitation.boostrap_color_class %>"><%= invitation.email %>
            <% end %>
        </ul>

        <div class="event-members-legend">
            <div class="legend-group">
                <div class="legend-color success"></div>
                <div class="legend-title">Members</div>
            </div>

            <div class="legend-group">
                <div class="legend-color danger"></div>
                <div class="legend-title">Invitations - refused</div>
            </div>

            <div class="legend-group">
                <div class="legend-color dark"></div>
                <div class="legend-title">Invitations - sent</div>
            </div>
        </div>
    </div>
    
    <div class="invitation-container">
        <h4>Invite to this event</h4>
        <br>
        <%= form_with url: event_invitations_path(@event), method: :post, local: true do |f| %>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <%= f.email_field :email, placeholder: "Email", class: 'form-control', required: true%>
                </div>
                <div class="form-group col-md-2">
                    <%= f.submit "Invite", class: 'btn btn-success btn-block' %>
                </div>
            </div>
        <% end %>
    </div>

    <% if @event.can_i_manage_event?(@event_roles[@event.id] || Event::ROLES.fetch(:guest)) %>
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary btn-block" %>
        <%= link_to "Destroy", event_path(@event),method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-block" %>
    <% end %>
    <% if @event.can_i_join?(@event_roles[@event.id] || Event::ROLES.fetch(:guest)) %>
        <%= link_to "Join", event_join_event_path(@event), method: :post , class: "btn btn-primary btn-block" %>
    <% end %>
    <% if @event.can_i_quit?(@event_roles[@event.id] || Event::ROLES.fetch(:guest)) %>
        <%= link_to "Quit", event_quit_event_path(@event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning btn-block" %>
    <% end %>
    <%# dodać join button %>
</div>